@import  "../../sass/variables";
@import "../../sass/mixins";

.background {
  @apply -z-50 absolute w-screen bg-cover bg-fixed  backdrop-filter;
}


.container {


  @apply w-full xl:h-[75vh] md:h-[43vh] sm:h-[30vh] max-sm:h-[34vh];
  background-image: -webkit-linear-gradient(rgba(0,0,0, 0) 0%, rgb(21, 23, 30, 1) 100%);
  background-image:  -moz-linear-gradient(rgba(0,0,0, 0) 0%,rgba(21, 23, 30, 1) 100%);
  background-image:  -o-linear-gradient(rgba(0,0,0, 0) 0%,rgba(21, 23, 30, 1) 100%);
  background-image:  -ms-linear-gradient(rgba(0,0,0, 0) 0%,rgba(21, 23, 30, 1) 100%);
  background-image:  linear-gradient(rgba(0,0,0, 0) 0%,rgba(21, 23, 30, 1) 100%);


}



.main {
  @apply w-[100%] flex flex-col h-full justify-center items-center ;

     .head {
     @apply flex flex-col w-full  items-center justify-center mt-[100px];

        h1 {
        @apply flex text-white font-bold text-[50px] drop-shadow-md;
     }

   }

}


.block2 {
  //border-top: solid 30px;
  //border-color: $accent;
  @apply flex bg-[#15171EFF] flex-col w-full justify-start px-[50px] py-[200px] items-start h-[2000px];

          .menu {
            //@include ui-bg;
            @apply flex w-[70%] max-xl:w-[60%] justify-start items-center gap-[20px] h-auto flex-col;

                  h1 {
                    color: #0b0f18;
                    @apply flex text-white whitespace-nowrap text-[25px] font-medium
                  }
                  h2 {
                     color: #0b0f18;
                   @apply flex text-white whitespace-nowrap text-[20px] font-light;
                   }


            .calculator {
                    @apply flex w-full h-[100%] flex-col items-start justify-start;

                      .rank {
                        @apply flex w-[100%] h-full max-xl:flex-col justify-center items-start gap-[20px];

                          .currentRank {
                            @include current-ui;
                            @apply flex flex-col gap-y-[20px] rounded-[30px] py-[50px] w-[50%] max-xl:w-[100%] justify-center items-center;

                                h2 {
                                  @apply flex text-white w-[90%];
                                }
                             .mainOfRanks {
                               @apply flex flex-wrap w-[90%] gap-[10px] justify-start items-center h-auto relative;
                             }

                             .numberRank {
                               @apply flex w-[90%] gap-x-[10px] mt-[10px] text-white;

                             }

                            .selectMenu {
                              @apply  flex bg-[#15171EFF] mt-[5px] pl-[5px] text-white py-[10px] w-[150px] rounded-[5px]  outline outline-[1px] outline-[#35383f] focus:outline-none focus:outline-[1px] focus:outline-[#565b64] hover:outline-[#565b64];
                            }
                          }

                        .desireRank {
                          @include desire-ui;
                          @apply flex flex-col gap-y-[20px] rounded-[30px] py-[50px] w-[50%] max-xl:w-[100%] justify-center items-center;

                          h2 {
                            @apply flex text-white w-[90%];
                          }
                          .mainOfRanks {
                            @apply flex flex-wrap w-[90%] gap-[10px] justify-start items-center h-auto relative;
                          }

                          .numberRank {
                            @apply flex w-[90%] gap-x-[10px] mt-[10px] text-white;

                          }

                          .selectMenu {
                            @apply  flex bg-[#15171EFF] mt-[5px] pl-[5px] text-white py-[10px] w-[150px] rounded-[5px]  outline outline-[1px] outline-[#35383f] focus:outline-none focus:outline-[1px] focus:outline-[#565b64] hover:outline-[#565b64];
                          }
                        }
                      }
                  }
           }


}