@import  "../../sass/variables";
@import "../../sass/mixins";

.background {
  @apply -z-50 w-screen absolute h-screen  bg-cover bg-fixed top-0 backdrop-filter;
}


.container {



  @apply w-full relative h-screen;
  background-image: -webkit-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%);
  background-image:  -moz-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%);
  background-image:  -o-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%);
  background-image:  -ms-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%);
  background-image:  linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%);


}



.main {
  @apply w-[100%]  flex flex-col h-full justify-center items-center ;

     .head {
     @apply flex flex-col w-full  items-center justify-center mt-[100px] overflow-hidden;

        h1 {
        @apply flex text-white font-bold text-[50px] drop-shadow-md;
     }

   }

}


.block2 {
  border-top: solid 30px;
  border-color: $accent;
  @apply flex bg-white w-full justify-between px-[50px] py-[100px] items-center h-[2000px];

          .menu {
            background-color: $card;
            @apply flex w-[70%] justify-center items-center gap-[20px] h-[1000px] rounded-[30px] relative flex-col py-[30px];

                  h1 {
                    color: #0b0f18;
                    @apply flex whitespace-nowrap text-[30px] font-bold
                  }
                  h2 {
                     color: #0b0f18;
                   @apply flex whitespace-nowrap text-[20px] font-medium
                   }


            .calculator {
                    @apply flex w-full h-[90%] flex-col items-center justify-start;
                      //.line {
                      //  border-left: solid 3px;
                      //  border-image: linear-gradient(180deg, #6063ea, #8759ef, #d044e5) 1 100%;
                      //  @apply absolute -left-[25px] w-[2px] h-[165px] rounded-full;
                      //}

                      .rank {
                        @apply flex w-[100%] justify-center items-center gap-[20px];

                          .ranks {
                            @apply flex flex-col w-[50%] justify-center items-center;

                                h2 {
                                  @apply flex w-[90%];
                                }
                             .mainOfRanks {
                               //border-left: solid 3px;
                               //border-image: linear-gradient(180deg, #6063ea, #8759ef, #d044e5) 1 100%;
                               @apply flex flex-wrap w-[90%] gap-[10px] justify-start items-center h-auto relative;
                             }

                             .numberRank {
                               @apply flex w-[90%] gap-x-[10px] mt-[10px];
                             }
                          }
                      }


                      .other {
                        @apply flex w-[80%];
                      }
                  }
           }

          .result {
            background-color: $card;
            @apply flex w-[28%] justify-center items-center gap-[20px] h-[1000px] rounded-[30px] relative flex-col py-[30px];
          }
}