@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*color-scheme: light dark;*/
  /*color: rgba(255, 255, 255, 0.87);*/
  /*background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}


body {
  background-color: black;
margin: 0;
  padding: 0;
  height: 100vh;
  scroll-behavior: smooth;
  user-select: none;
}

h1 {
  user-select: none;
}
/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    color: #213547;*/
/*    background-color: #ffffff;*/
/*  }*/
/*  a:hover {*/
/*    color: #747bff;*/
/*  }*/
/*  button {*/
/*    background-color: #f9f9f9;*/
/*  }*/
/*}*/

/*!* Firefox *!*/
/** {*/
/*  scrollbar-width: thin;*/
/*  scrollbar-color: #00AF28 #000000;*/
/*}*/

/*!* Chrome, Edge and Safari *!*/
/**::-webkit-scrollbar {*/
/*  height: 7px;*/
/*  width: 7px;*/
/*}*/
/**::-webkit-scrollbar-track {*/
/*  border-radius: 2px;*/
/*  background-color: transparent;*/
/*}*/

/**::-webkit-scrollbar-track:hover {*/
/*  background-color: transparent;*/
/*}*/

/**::-webkit-scrollbar-track:active {*/
/*  background-color: transparent;*/
/*}*/

/**::-webkit-scrollbar-thumb {*/
/*  border-radius: 2px;*/
/*  background-color: #0FAF84;*/
/*}*/

/**::-webkit-scrollbar-thumb:hover {*/
/*  background-color: #0FAF84;*/
/*}*/

/**::-webkit-scrollbar-thumb:active {*/
/*  background-color: #00D832;*/
/*}*/
